node_modules
*-lock.json
license.txt
exports
*.cache
build
.strapi-updater.json
*.sh
*.env
./ebextensions
./github
./husky
./platform
contentful-migrations
node_modules
coverage
temp
uploads
.env
*.env
.vscode